<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="{% url 'index' %}" class="navbar-brand">Django E-Shop</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav">
        <li><a href="{% url 'index' %}" alt="" title="" >Home</a></li>
        <li><a href="{% url 'about' %}"  alt="" title="" >About</a></li>
        <li><a href="{% url 'contact' %}"  alt="" title="" >Contacts</a></li>
        <li><a href="{% url 'register' %}"  alt="" title="" >Register</a></li>
        <li><a href="{% url 'products:index' %}"  alt="" title="" >Products</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<br/>
<br/>
<br/>