{% extends 'base_products.html' %}
{% block content %}
	<h1 class="products">Products</h1>

	<div class="row">
		{% if products %}
			{% for product in products %}
				<div class="col-md-3">
					<p><strong>{{product.name}}</strong></p>
					<img src="https://placeholdit.imgix.net/~text?txtsize=33&txt=250%C3%97250&w=250&h=250" />
					<p>{{product.description}}</p>
					<p><strong>Quantity in stock: </strong><small>{{product.amount}}</small></p>
					<p><strong>Price $</strong> {{product.price}}</p>
					<p><a href="{% url 'products:details' product.id  %}" class="btn btn-default btn-md">Details</a></p>
				</div>
			{% endfor %}
		{% else %}
			<h1 class="text-center">Not found products</h1>
		{% endif %}
	</div>
{% endblock %}